.card {
  background: #8d8d8d;
  margin: 10px;
  height: auto;
  border-radius: 5px;
  width: 75%;
  animation: fadeInUp 1s 1.8s ease-in-out;
  animation-fill-mode: backwards;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h1 {
    text-align: center;
    font-family: 'Helvetica';
    color: #ffd700;
    letter-spacing: 3px;
    font-size: 24px;
    margin-bottom: 0;
  }
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffd700;
  }
  img {
    width: 90%;
    height: auto;
    cursor: pointer;
    margin-bottom: 10px;

    &:hover {
      color: #fff;
      transition: all 0.2s ease-in-out;
      box-shadow: 0 0 20px lightyellow;
    }
  }
  .card-details {
    color: #fff;
    font-size: 2rem;
    font-weight: 350;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px 10px 10px 10px;

    .flat-button {
      background-color: #115173;
      color: #ffd700;
      font-size: 13px;
      font-weight: 400;
      letter-spacing: 4px;
      font-family: sans-serif;
      text-decoration: none;
      padding: 10px 8px;
      border: 1px solid #ffd700;
      margin: 5px;
      float: left;
      animation: fadeIn 1s 1.8s backwards;
      white-space: nowrap;
      &:hover {
        background-color: #ffd700;
        color: #333;
        cursor: pointer;
      }
    }
  }
  .github-link {
    text-decoration: none;
    &:hover {
      color: #fff;
      transition: all 0.3s ease-in-out;
      box-shadow: 0 0 20px lightyellow;
      border-radius: 5px;
    }
  }
}
