.logo-container {
  z-index: -1;
  width: 400px;
  height: 600px;
  position: absolute;
  top: 0;
  right: 15%;
  bottom: 0;
  left: auto;
  margin: auto;

  img {
    width: auto;
    height: auto;
    bottom: 0;
    transform: rotateZ(10deg) !important;
    transition: fadeIn ease-in-out;
    opacity: 0.6;
  }
}
