.stage-cube-cont {
  width: 50%;
  height: 100%;
  top: 0;
  margin: auto 0;
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cubespinner {
  div {
    width: 100%;
    height: 90%;
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.4);
    font-size: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px lightyellow;
    margin: 10px;
    animation: pulse 0.6s linear;

    &:nth-of-type(1) {
      animation-delay: 0.6s;
    }
    &:nth-of-type(2) {
      animation-delay: 0.9s;
    }
    &:nth-of-type(3) {
      animation-delay: 1.2s;
    }
    &:nth-of-type(4) {
      animation-delay: 1.5s;
    }
    &:nth-of-type(5) {
      animation-delay: 1.8s;
    }
    &:nth-of-type(6) {
      animation-delay: 2.1s;
    }
  }
}

@media (max-width: 600px) {
  .cubespinner {
    div {
      font-size: 5rem;
    }
  }
}
