.home-page {
  .text-zone {
    position: absolute;
    margin-left: 1rem;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;
  }
  h1 {
    color: #fff;
    font-size: 53px;
    margin: 0;
    margin-left: 3rem;
    font-family: 'Coolvetica';

    &::before {
      content: '<h1>';
      font-family: 'La Belle Aurore';
      color: #ffd700;
      font-size: 18px;
      position: absolute;
      margin-top: -40px;
      left: 15px;
      opacity: 0.6;
    }
    &::after {
      content: '</h1>';
      font-family: 'La Belle Aurore';
      color: #ffd700;
      font-size: 18px;
      position: absolute;
      margin-top: 75px;
      left: 10px;
      opacity: 0.6;
    }
    img {
      width: 80%;
      margin-left: 20px;
      opacity: 0;
      height: auto;
      animation: fadeIn 4s 4s ease-in-out;
    }
  }
  h2 {
    color: #8d8d8d;
    margin-top: 20px;
    font-weight: 400;
    font-size: 16px;
    font-family: 'sans-serif';
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards;
  }
  .flat-button {
    color: #ffd700;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 8px;
    border: 1px solid #ffd700;
    margin-top: 25px;
    float: left;
    animation: fadeIn 1s 1.8s backwards;
    white-space: nowrap;
    &:hover {
      background-color: #ffd700;
      color: #333;
    }
  }
}
