.contact-form {
  width: 100%;
  margin-top: 20px;
  a {
    font-size: 3rem;
  }
  // ul {
  //   padding: 0;
  //   margin: 0;
  //   li {
  //     padding: 0;
  //     margin: 0;
  //     list-style: none;
  //     margin-bottom: 10px;
  //     overflow: hidden;
  //     display: block;
  //     position: relative;
  //     opacity: 0;
  //     animation: fadeInUp 2s 2s;
  //     animation-fill-mode: forwards;
  //     clear: both;
  //   }
  //   li.half {
  //     width: 49%;
  //     margin-left: 2%;
  //     float: left;
  //     clear: none;

  //     &:first-child {
  //       margin-left: 0;
  //     }
  //   }
  // }
  // input[type='text'],
  // input[type='email'] {
  //   width: 100%;
  //   border: 0;
  //   background-color: #115173;
  //   height: 50px;
  //   font-size: 16px;
  //   color: #fff;
  //   padding: 0 20px;
  //   box-sizing: border-box;
  // }
  textarea {
    width: 100%;
    border: 0;
    background-color: #115173;
    height: 50px;
    font-size: 16px;
    color: #fff;
    padding: 20px;
    min-height: 150px;
    box-sizing: border-box;
  }
  .flat-button {
    color: #ffd700;
    background: 0 0;
    font-size: 11px;
    letter-spacing: 3px;
    text-decoration: none;
    padding: 8px 10px;
    border: 1px solid #ffd700;
    float: right;
    border-radius: 4px;

    &:hover {
      background-color: #ffd700;
      color: #115173;
      cursor: pointer;
    }
  }
}

.info {
  position: absolute;
  background-color: #000;
  top: 50px;
  right: 0;
  z-index: 999;
  width: 267px;
  padding: 20px;
  color: #fff;
  font-family: 'Helvetica';
  font-size: 17px;
  font-weight: 300;
  opacity: 0;
  animation: fadeIn 1s 1.5s;
  animation-fill-mode: forwards;
  span {
    text-decoration: none;
    font-size: 18px;
    display: inline-block;
    margin-top: 20px;
    color: #ffd700;
    &:hover {
      color: #fff;
      box-shadow: 0 0 20px lightyellow;
      border-radius: 5%;
    }
  }
}
@media (max-width: 600px) {
  .info {
    visibility: hidden;
  }
}
